html {
	padding: 0;
	margin: 0px;
}
body {
	width: 100%;
	display: inline-block;
	font-family: 'Nanum Gothic', sans-serif !important;
}
.main {
	margin-top: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #BA2255;
}
.main > span {
	color: black;
}
.logo {
	text-align: center;
	display: block;
}
.title {
	vertical-align: bottom;
	font-size: larger;
	font-weight: bold;
	font-size: 30px;
}
.title > span {
	color: #4568DC;
}
.subtitle {
	width: 100%;
	margin: 0px;
}
.sub_title > ul {
	margin-right: 100px;
	padding: 0px;
	text-align: right;
}
.sub_title > ul li {
	display: inline-block;
}
.sub_title > ul li a {
	color: #787878;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 50px;
    font-size: 20px;
	position: relative;
	font-weight: bold;
}
.sub_title > ul li :hover {
	color: black;
}

/* navbar */
.navbar {
	width: 100%;
	background: #4568DC;  /* fallback for old browsers */
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
	margin: 0px !important; 
}
.navbar > ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.navbar > ul li {
	display: inline-block;
	margin: 0px 20px;
}
.navbar > ul li a {
	text-decoration: none;
	color: #fff;
	width: 120px;
	display: inline-block;
	text-align: center;
	padding: 20px 0;
    font-size: 17px;
	font-weight: bold;
	position: relative;
}
.navbar > ul li a::before {
    background: #fff none repeat scroll 0 0;
    bottom: -2px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 0%;
    transition: 0.5s;
}
.navbar > ul li a:hover::before {
	width: 100%;
}

/*main*/
.main_image {
	height: 400px;
	width: 100%;
	padding-top: 100px;
  
	background-image: url('../src/main_background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
  }

  .intro-text {
	margin-top: 30px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	letter-spacing: -1px;
  }

  .intro-color {
	color: #FCEA4D;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-position: under;
  }

  .main_rent {
	margin-top: 55px;
	background-color: rgba(0, 0, 0, 0.3);
	height: 120px;
	width: 100%;
  }

  .rent-text {
	display: block;
	color: white;
	text-align: right;
	font-size: 35px;
	font-weight: bold;
	margin-top: 30px;
	text-decoration: none !important;
  }

  .main_item {
	width: 100%;
	align-items: center;
  }

  .item_image {
	display: block;
	width: 300px;
	height: 200px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 20px;
	margin-right: 20px;
	align-items: center;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
  }

  .main_site {
	position:relative;
	width:100%;
	height:300px;
	padding-top:70px;
	box-sizing:border-box;
	background: #F8F8F8;
  }

  .main_site_logo {
	width: 60px;
	margin-left: 40px;
  }

  .main_site h3 {
	display:inline-block;
	font-size: 30px;
	color:#333;
	font-weight:900;
	z-index:3;
	line-height:1.2em;
	width:230px;
  }

  .main_site ul.site-name {
	float: right;
	width:100%;
	margin-top:10px;
	list-style: none;
  }

  .main_site ul.site-name li {
	float:right;
	margin-right:35.6px;
	margin-bottom:20px;
  }

/* footer design */
.site-footer {
	background-color: #26272b;
	padding: 45px 0 45px;
	font-size: 15px;
	line-height: 24px;
	color: #737373;
  }
  
  .site-footer hr {
	border-top-color: #bbb;
	opacity: 0.5
  }
  
  .site-footer hr.small {
	margin: 20px 0
  }
  
  .site-footer h6 {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 5px;
	letter-spacing: 2px;
  }
  
  .copyright-text {
	margin: 0;
	text-align: right;
  }
  
  